<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <span style='font-weight: bold;'>Message: </span>
      <span>{{message}}</span>
      <a rel='stylesheet' href={{link}}>Click here</a>
    </div>
  </body>
</html>